html {
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
	touch-action: manipulation;
}

:root {
	--box-shadow: inset 0 0 0.5px 1px hsl(0, 0%, 50%, 0.075),
		0 0 0 1px hsla(0, 0%, 0%, 0.05),
		0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
		0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
		0 3.5px 6px hsla(0, 0%, 0%, 0.09);
	--transition-colors: color, background-color, border-color, color-mix, box-shadow, linear-gradient, outline-color;
	--transition-all: all;
	--transition03: 0.3s ease;
	--transition05: 0.5s ease;
}

:root[data-theme="light"] {
	--text: #2b2b2b;
	--static-white: #f6f4f5;
	--background: #f6f4f5;
	--primary: #e74646;
	--primary70: #F3D1D2;
	--primary30: #F5ECED;
	--secondary: #C7C2C3;
	--secondary70: #E6E3E4;
	--tertiary: #5a4f4e;
	--quarternary: #EBEAEB;
	--accent: #e95d5d;
	--theme-toggle: #FFD700;
	--theme-accent: #EBEAEB;
	--portfolio-badge-colour-school: #2ecc70;
	--portfolio-badge-colour-personal: #b98dc7;
	--code-keyword: #0000ff;
	--code-variable: #1a1a1a;
	--code-property: #2f4f4f;
	--code-string: #a31515;
	--code-comment: #008000;
}

:root[data-theme="dark"] {
	--text: #d4d4d4;
	--static-white: #f6f4f5;
	--background: #0b090a;
	--primary: #b91818;
	--primary70: #2E0C0D;
	--primary30: #130A0A;
	--secondary: #3D3839;
	--secondary70: #1C191A;
	--tertiary: #b1a6a5;
	--quarternary: #151414;
	--accent: #a21616;
	--theme-toggle: #1E3A8A;
	--theme-accent: #151414;
	--portfolio-badge-colour-school: #118046;
	--portfolio-badge-colour-personal: #8d43ad;
	--code-keyword: #569cd6;
	--code-variable: #9cdcfe;
	--code-property: #9cdcfe;
	--code-string: #ce9178;
	--code-comment: #6a9955;
}

:root[data-theme="pink-light"] {
	--text: #1a0a10;
	--static-white: #f6f4f5;
	--background: #FBF4F6;
	--primary: #cf306a;
	--primary70: #F2CDDA;
	--primary30: #F9EAEE;
	--secondary: #F5D0DD;
	--secondary70: #F9E8EE;
	--tertiary: #e87da4;
	--quarternary: #EFE8E9;
	--accent: #ea5d90;
	--theme-toggle: #cf306a;
	--theme-accent: #EBEAEB;
	--portfolio-badge-colour-school: #2ecc70;
	--portfolio-badge-colour-personal: #b98dc7;
	--code-keyword: #9c27b0;
	--code-variable: #d81b60;
	--code-property: #ad1457;
	--code-string: #c2185b;
	--code-comment: #ba68c8;
}

:root[data-theme="pink-dark"] {
	--text: #f5e5eb;
	--static-white: #f6f4f5;
	--background: #0B0406;
	--primary: #cf306a;
	--primary70: #320D1A;
	--primary30: #15060B;
	--secondary: #2F0A17;
	--secondary70: #17060B;
	--tertiary: #82173e;
	--quarternary: #171012;
	--accent: #a21549;
	--theme-toggle: #82173e;
	--theme-accent: #151414;
	--portfolio-badge-colour-school: #118046;
	--portfolio-badge-colour-personal: #8d43ad;
	--code-keyword: #ff79c6;
	--code-variable: #f8bbd0;
	--code-property: #f48fb1;
	--code-string: #ff5c8d;
	--code-comment: #c51162;
}

:root[data-theme="blue-light"] {
	--text: #060607;
	--static-white: #f6f4f5;
	--background: #f3f5f8;
	--primary: #5376c1;
	--primary70: #D3DBED;
	--primary30: #EBEFF5;
	--secondary: #D5DEF3;
	--secondary70: #E8EDF7;
	--tertiary: #8eabe8;
	--quarternary: #E7E9EB;
	--accent: #477df1;
	--theme-toggle: #5376c1;
	--theme-accent: #EBEAEB;
	--portfolio-badge-colour-school: #2ecc70;
	--portfolio-badge-colour-personal: #b98dc7;
	--code-keyword: #1565c0;
	--code-variable: #0d47a1;
	--code-property: #1976d2;
	--code-string: #0277bd;
	--code-comment: #42a5f5;
}

:root[data-theme="blue-dark"] {
	--text: #f7f7f8;
	--static-white: #f6f4f5;
	--background: #080a0d;
	--primary: #3e61ac;
	--primary70: #121B2C;
	--primary30: #0B0E15;
	--secondary: #0D172B;
	--secondary70: #090E18;
	--tertiary: #173472;
	--quarternary: #151619;
	--accent: #0e44b9;
	--theme-toggle: #3e61ac;
	--theme-accent: #151414;
	--portfolio-badge-colour-school: #118046;
	--portfolio-badge-colour-personal: #8d43ad;
	--code-keyword: #82aaff;
	--code-variable: #7cb7ff;
	--code-property: #64b5f6;
	--code-string: #4fc3f7;
	--code-comment: #2196f3;
}

:root[data-theme="green-light"] {
	--text: #151e06;
	--static-white: #f6f4f5;
	--background: #fdfefb;
	--primary: #9cd43a;
	--primary70: #E9F5D5;
	--primary30: #F8FCF1;
	--secondary: #E1F6D9;
	--secondary70: #F3FBEF;
	--tertiary: #9ee58b;
	--quarternary: #F1F2EE;
	--accent: #72dd64;
	--theme-toggle: #9cd43a;
	--theme-accent: #EBEAEB;
	--portfolio-badge-colour-school: #2ecc70;
	--portfolio-badge-colour-personal: #b98dc7;
	--code-keyword: #2e7d32;
	--code-variable: #33691e;
	--code-property: #388e3c;
	--code-string: #43a047;
	--code-comment: #7cb342;
}

:root[data-theme="green-dark"] {
	--text: #f0f9e1;
	--static-white: #f6f4f5;
	--background: #030401;
	--primary: #8cc52b;
	--primary70: #1E2A0A;
	--primary30: #0A0E03;
	--secondary: #102609;
	--secondary70: #081004;
	--tertiary: #2e741a;
	--quarternary: #10110D;
	--accent: #3b7d3b;
	--theme-toggle: #8cc52b;
	--theme-accent: #151414;
	--portfolio-badge-colour-school: #118046;
	--portfolio-badge-colour-personal: #8d43ad;
	--code-keyword: #a5d6a7;
	--code-variable: #c5e1a5;
	--code-property: #b2ff59;
	--code-string: #ccff90;
	--code-comment: #00c853;
}

:root[data-theme="purple-light"] {
	--text: #100c17;
	--static-white: #f6f4f5;
	--background: #f7f4fb;
	--primary: #6e37cd;
	--primary70: #DCCEF2;
	--primary30: #F0EBF8;
	--secondary: #E2D6F7;
	--secondary70: #F0EAF9;
	--tertiary: #b491ee;
	--quarternary: #EAE8EF;
	--accent: #8d4ef4;
	--theme-toggle: #6e37cd;
	--theme-accent: #EBEAEB;
	--portfolio-badge-colour-school: #2ecc70;
	--portfolio-badge-colour-personal: #b98dc7;
	--code-keyword: #673ab7;
	--code-variable: #512da8;
	--code-property: #5e35b1;
	--code-string: #4527a0;
	--code-comment: #9575cd;
}

:root[data-theme="purple-dark"] {
	--text: #ece8f3;
	--static-white: #f6f4f5;
	--background: #07040b;
	--primary: #6932c8;
	--primary70: #1B0D31;
	--primary30: #0C0614;
	--secondary: #150829;
	--secondary70: #0B0615;
	--tertiary: #35116e;
	--quarternary: #151619;
	--accent: #4b0bb1;
	--theme-toggle: #6932c8;
	--theme-accent: #151414;
	--portfolio-badge-colour-school: #118046;
	--portfolio-badge-colour-personal: #8d43ad;
	--code-keyword: #b39ddb;
	--code-variable: #d1c4e9;
	--code-property: #bb86fc;
	--code-string: #e1bee7;
	--code-comment: #7c4dff;
}

:root[data-theme="orange-light"] {
	--text: #1e0e06;
	--static-white: #f6f4f5;
	--background: #f9f4f1;
	--primary: #f5a623;
	--primary70: #FCE3C6;
	--primary30: #FDF0E6;
	--secondary: #F8E8D4;
	--secondary70: #FDF0E6;
	--tertiary: #f5a623;
	--quarternary: #FDF0E6;
	--accent: #f5a623;
	--theme-toggle: #f5a623;
	--theme-accent: #EBEAEB;
	--portfolio-badge-colour-school: #2ecc70;
	--portfolio-badge-colour-personal: #b98dc7;
	--code-keyword: #ef6c00;
	--code-variable: #e65100;
	--code-property: #f57c00;
	--code-string: #ff9800;
	--code-comment: #ffb74d;
}

:root[data-theme="orange-dark"] {
	--text: #f7f7f8;
	--static-white: #f6f4f5;
	--background: #0a0603;
	--primary: #f5a623;
	--primary70: #1F1206;
	--primary30: #0F0904;
	--secondary: #1A0E05;
	--secondary70: #0F0904;
	--tertiary: #f5a623;
	--quarternary: #0F0904;
	--accent: #f5a623;
	--theme-toggle: #f5a623;
	--theme-accent: #151414;
	--portfolio-badge-colour-school: #118046;
	--portfolio-badge-colour-personal: #8d43ad;
	--code-keyword: #ffab40;
	--code-variable: #ffd180;
	--code-property: #ffcc80;
	--code-string: #ffe0b2;
	--code-comment: #ff9100;
}

.button-primary {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	background-color: var(--primary);
	color: var(--static-white);
	padding: 0.75rem 1rem;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 500;
	text-align: center;
	margin-top: 35px;
	transition: all 0.3s ease;
	width: 100%;
}

.button-primary:hover {
	background-color: var(--primary70);
	color: var(--text);
}

.button-secondary {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	background-color: var(--secondary);
	color: var(--text);
	padding: 0.75rem 1rem;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 500;
	text-align: center;
	margin-top: 35px;
	transition: var(--transition03);
	transition-property: var(--transition-colors);
}

.button-secondary:hover {
	background-color: var(--secondary70);
	color: var(--text);
}

.button-tetrary {
	display: inline-block;
	background-color: var(--tertiary);
	color: var(--text);
	padding: 20px 10px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 1.5rem;
	font-weight: 500;
	text-align: center;
	margin-top: 35px;
	width: 100%;
	transition: var(--transition03);
	transition-property: var(--transition-colors);
}

.button-tetrary:hover {
	background-color: var(--quarternary);
	color: var(--text);
}

body {
	background-color: var(--background);
	transition: var(--transition03);
	transition-property: var(--transition-colors);
}